.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #159f74;
}

.content {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  background-color: gray;
  padding: 10px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}
